@import "normalize.styl"
@import "fonts.styl"

gris_oscura = #333333
gris_claro = #818181
rojo = #ad475c
gris_mas_claro = #f0f0f0

body
	font-family 'Varela Round' , sans-serif
	font-size 16px
figure 
	margin 0
a
	text-decoration none
img
	vertical-align top
.button-menu
	color gris_oscura
	left .5em
	margin-top -10px
	position absolute
	top 50%
.border-button
	border-bottom 1px solid gris_claro
	
.relative 
	position relative
	
.container
	font-size 0
	padding 1.4rem
	text-align center

.song 
	display inline-block
	font-size 1rem
	margin-bottom 1em
	margin-right 1em
	text-align left
	width 8rem
	&:nth-child(even)
		margin-right 0
	
	p 
		margin .5em 0
.name
	color gris_oscura
.menu
	display none
	
.author
	color gris_claro
.center-block
	margin 0 auto
.center-text
	text-align center
.right-text
	text-align right
.action
	color white
	margin-right .5em
	&:last-child
		margin-right 0
	font-size 1.2em
	&.gray
		color gris_claro
	
.actions
	position absolute
	bottom 0
	left 0
	right 0
	background  rgba(black,.3)
.relative 
	position relative
	
.padding
	padding 1em
.padding-tb
	padding 1em 0
.progress
	margin 1em 0
	position relative
	.min
	.max
		position absolute
		font-size .8em
		top -5px
	.min
		left 0
	.max
		right 0
		
	.total
		height 5px
		background gris_claro
		width 75%
		border-radius 5px
		margin 0 auto
	.state
		height 5px
		background rojo
		width 30%
		border-radius 5px
		position relative
	.circle
		width 10px
		height 10px
		background gris_oscura
		border-radius 50%
		position absolute
		right 0
		top -2px
			
.header
	height 3.5em
	
	// a 
	// 	display none
	.title
		font-size 1.1em
		line-height 3.5em
		margin 0
		text-align center
.left
	float left
.right
	float right	
.playing
	
	&.small
		width 20em
.round
    border-radius 50%
    overflow hidden	
    
.wrap
	width 1000px
.close-icon
	position absolute
	top .5em
	color gris_claro
	right .5em
	font-size 1.2em
	
.search-icon
	position absolute
	left .5em
	top .8em
	color gris_claro

		

 @media screen and (min-width:480px)

		.song
			&:nth-child(even)
				margin-right 1em
		.image
			img
				width 100%
				height auto
		.playing
			&.medium
				width auto
.input
	border 1px solid gris_claro
	height 2.5em
	border-radius 5px
	padding 0 1em 0 2em
	
				
@media screen and (min-width:1000px)
	body
		background gris_mas_claro
	.button-menu 
		display none
	.menu
		display block
		background gris_mas_claro
		.item
			float left
	.header
		height auto
		.title
			display none
	.isotipo
		width 122px
	.logo
		padding 1.3em 0
		overflow hidden
	.avatar
		width 38px
		height 38px
	.username
		color gris_claro
		position relative
		top 9px
		margin-left .5em
		&:after
			content ""
			border-left 7px solid transparent
			border-top 9px solid gris_claro
			border-right 7px solid transparent
			margin-left .4em
			display inline-block
		
		
			
		
		
